@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    /* PALETA DE CORES */
    --azul:#00ff00;
}

body{
    background-color: #eee;
}

/* HEADER */

.cabeçalho img{
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.53);
}

.pai-carossel{
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.542);
}

.pesquisar-pai input:focus{
    outline: none;
}

/* NAV BAR */

.lista-nav{
    list-style-type: none;
    margin: 15px 0px 0px 0px;
    padding: 0px;
    display: block;
    text-align: center;
}

.lista-nav li{
    display: inline;
    margin: 0px 20px 0px 20px;
    font-size: 1.5em;
    color: #666;
}

button span{
    font-size: 1.5em;
    color: #666;
}


/* NAV BAR FIM */

/* HEADER FIM */

/* BOTTOM BAR */

.bottom-bar{
    position: fixed;
    color: white;
    bottom: 0px;
    background-color: #030C85;
    width: 100%;
    text-align: center;
    padding: 20px;
    z-index: 10;
}

.bottom-bar span{
    margin: 0px 30px 0px 30px;
}

.icon-user, .icon-search, .icon-icon-price-tag, .icon-cart{
    font-size: 1.3em;
    display: inline-block;
    color: white;
}

/* BOTTOM BAR FIM */

/* MAIN */

.produtos{
    display: grid;
    margin: 15px 10px 10px 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 220px 220px;
    gap: 10px;
    text-align: center;
}

.card-produto{
    display: inline-block;
    background-color: white;
    border: none;
}

.card-produto p{
    background-color: #eee;
    color: black;
    padding: 5px;
    margin-bottom: 0px;
    height: 70px;
    border: none;
}

.preço{
    font-weight: bold;
    font-size: 1.3em;
    color: black;
}

.nome-produto{
    font-size: .8em;
    text-transform: uppercase;
}

.imagem-card{
    width: 130px;
    height: 150px;
    padding: 5px;
}

/* MAIN FIM */

/* FOOTER */

footer{
    margin-bottom: 54px;
    background-color: #02074e;
    display: inline-block;
    padding: 10px 0px 10px 0px;
    color: white;
    width: 100%;
}

h2{
    text-indent: 20px;
}

.copy{
    text-align: center;
    font-size: .85em;
}

.lista-redes{
    list-style-type: none;
    padding: 0px;
    font-size: 1.1em;
}

.lista-redes li span{
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 13px;
    font-size: 1.2em;
}

.icon-whatsapp{
    background-color:  #25d366;
    color: white;
    padding: 5px;
}

.celular{
    padding: 5px;
    background-color:  #25d366;
}

.icon-facebook{
    background-color: #3b5998;
    padding: 5px;
}

.icon-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    padding: 5px;
}

.icon-envelop{
    padding: 5px;
    background-color: #db4a39;
}

.icon-github{
    color: white;
    background-color: black;
    margin-left: 5px;
}

.gitn{
    margin-left: 5px;
}

.lista-redes li a{
    text-decoration: none;
    color: white;
}